@page "/"
@using EmySoundProject.Components
@inherits MainPageComponent
<PageTitle>MainPage</PageTitle>

<DirectoryDatasetPicker />

<div style="margin-bottom: 20px" class="row">
    <div class="col-md-12">
        <RadzenLabel Text="Plik badany"/>
    </div>

    <div class="col-md-12 justify-content-between d-flex">
        <RadzenTextBox style="width: 700px" @bind-Value="@FilePath" Placeholder="Ścieżka do pliku z audycją"/>
        <RadzenButton Disabled="@(FilePath.Length == 0)" Text="check" Click="@Button1Click"/>
    </div>

    <div class="col-md-12">
        <RadzenDropDown Data="@ExaminedFilePathList" style="width: 700px" TextProperty="FileName" ValueProperty="Path" TValue="string" Change="@Dropdown1Change"/>
    </div>
</div>

<div style="margin-bottom: 20px" class="row">
    <div class="col-md-12">
        <RadzenLabel Text="Dopasowanie %"/>
    </div>
    <div class="col-md-12 justify-content-between d-flex">
        <RadzenNumeric @bind-Value="@Confidence" Min="0" Max="100"/>
        <RadzenButton Text="match" Click="@Button2Click" disabled="@IsTaskRunning"/>
    </div>
</div>

<div>
    @WaveformDisplay
</div>

<div class="row">
    <div class="col-md-12">
        <RadzenTextArea style="height: 500px; width: 100%; cursor: default;" @bind-Value="@ResultJson" ReadOnly="true"/>
    </div>
</div>