@page "/tracks"
@using SoundFingerprinting.Data
@using PureTunes.Components
@inherits TrackListPageComponent

<PageTitle>Tracks</PageTitle>

<DirectoryDatasetPicker OnTracksAdded="HandleTracksAdded"/>


<RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete_forever" class="mt-2 mb-4" Text="Usuń Wszystko"
              IsBusy="@RemoveAll_isBusy" Click="@RemoveAll_onClick"/>


<RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete_forever" class="mt-2 mb-4" Text="Usuń wyświetlane elementy"
              IsBusy="@RemoveAllFromPage_isBusy" Click="@RemoveAllFromPage_onClick"/>


<RadzenDataGrid @ref="@TrackInfoDataGrid" AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false"
                FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="100" AllowPaging="true"
                PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@TrackList" TItem="TrackInfo" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or"
                TItem="TrackInfo" Sort="@(args => ResetIndex(true))" Page="@(args => ResetIndex(true))" Filter="@(args => ResetIndex(true))">
    <Columns>
        <RadzenDataGridColumn TItem="TrackInfo" Title="#" Width="25px" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
            <Template>
                <RenderOnceComponent CanRender=@(!(Index >= TrackInfoDataGrid.PageSize))>
                    @{
                        ResetIndex(Index >= TrackInfoDataGrid.PageSize);
                    }
                    @((TrackInfoDataGrid.CurrentPage * TrackInfoDataGrid.PageSize) + Index++ + 1)
                </RenderOnceComponent>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="TrackInfo" Property="Title" Title="Nazwa" Width="160px"/>
        <RadzenDataGridColumn TItem="TrackInfo" Title="Data wstawienia" FormatString="{0:d}" Width="100px">
            <Template Context="trackInfo">
                @FormatDate(trackInfo.MetaFields["InsertDate"])
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="TrackInfo" Title="Długość (mm:ss)" Width="60px">
            <Template Context="trackInfo">
                @trackInfo.MetaFields["audio_TrackLength"]
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="TrackInfo" Property="Id" Title="Dodano z pliku" Width="200px"/>
        <RadzenDataGridColumn TItem="TrackInfo" Context="trackInfo" Width="20px" Filterable="false" Sortable="false" TextAlign="TextAlign.Right">
            <Template Context="trackInfo">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter"
                              Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => RemoveSpecificTrack_onClick(args, trackInfo))"
                              @onclick:stopPropagation="true">
                </RadzenButton>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
@if (RemoveAll_isBusy || RemoveAllFromPage_isBusy)
{
    <div class="fullscreen-div">
        <div class="centered-content">
            <RadzenProgressBarCircular ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"/>
        </div>
    </div>
}